.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7BBE3;
    box-sizing: border-box;
    flex: 0 0 3em;
    margin: 0.5em 1em;
    box-shadow: 0 0 10px -2px rgba(158, 152, 152, 0.75);
}

.TodoItem button {
    height: 100%;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #23C9FF;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.TodoItem button.TodoItem--edit {
    background: #C884A6;
}