.TodoForm {
    flex: 1;
    overflow: auto;
}

.TodoForm p {
    text-align: center;
}

.TodoForm input[type="submit"] {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #23C9FF;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 1em;
}

.TodoForm label {
    margin-left: 1em;
}

.TodoForm input[type="text"] {
    display: block;
    padding: 1em;
    color: inherit;
    width: calc(100% - 2em);
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: 1em;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 1s;
    box-sizing: border-box;
    margin: 0.5em auto 1em auto;
}

.TodoForm select {
    display: block;
    padding: 1em;
    color: inherit;
    width: calc(100% - 2em);
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: 1em;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 1s;
    box-sizing: border-box;
    margin: 0.5em auto 1em auto;
    height: 3em;
}